.container {
    display: flex;
    justify-content: space-between;
    width: 400px;
    border: solid 1px;
    margin: auto;
    border-radius: 5px;
}

.dice {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}